#vasennappi {
	margin-right: 5px;
}

#tyyppi {
	margin-right: 20px;
}

#rivitys {
	line-height: 35px;
}

#poistakysymysnappi {
	margin-right: 5px;
	margin-bottom: 5px;
}

#vaihtoehdotlista {
	border-style: none;
	background-color: rgb(188, 208, 219);
	word-wrap: break-word;
}

#navigaatio {
	margin-bottom: 10px;
}

.container {
	padding: 20px;
	margin-top: 20px;
	opacity: 0.985;
	background-color: rgb(188, 208, 219);
}

.jumbotron {
	background-image: url("error.jpg");
	background-repeat: no-repeat;
    background-size: 1920px 144px;
    background-color: rgb(188, 208, 219);
	text-align: center;
	margin-bottom: 20px !important;
	margin-top: -30px !important;
	padding-bottom: 20px !important;
	opacity: 0.98;
}

body {
	background-color: #EDFAFD;
	background-image: url("repeatbackground.jpg");
	background-repeat: repeat;
}

input {
	margin: 10px;
}

h1 {
	font-family: 'Skranji', cursive;
}

p {
	font-family: 'Oswald', sans-serif;
	word-wrap: break-word;
}

label {
	font-family: 'Oswald', sans-serif;
}

a {
	font-family: 'Oswald', sans-serif;
}

span {
	word-wrap: break-word;
}

@media (max-width: 860px) {
	.jumbotron {
		background-image: url("");
		background-repeat: no-repeat;
	    background-size: 600px 144px;
	    background-color: rgb(188, 208, 219);
		text-align: center;
		margin-bottom: 20px !important;
		margin-top: -30px !important;
		padding-bottom: 20px !important;
		opacity: 0.98;
	}
}