<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Uusi kysely</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}" />
    <link rel="stylesheet" type="text/css" href="css/tyylit.css" th:href="@{/css/tyylit.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Skranji" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="uusikysymys">
                <form th:object="${kysymyss}" th:action="@{../tallennakysymys/{kyselyid}(kyselyid=${kysymyss.kysely.kyselyid})}" action="#" method="post">
                    <div class="col">
                        <label for="tyyppi">Tyyppi</label>
                        <select id="tyyppi" name="tyyppi" th:field="*{tyyppi}" onchange="java_script_:show(this.options[this.selectedIndex].value)">
                            <option value="text">Text</option>
                            <option value="textarea">Textarea</option>
                            <option id="radio" value="radio">Radio</option>
                            <option value="select">Select</option>
                            <option value="number">Number</option>
                            <option value="range">Range</option>
                            <option value="email">Email</option>
                        </select>
                        
                        
                        <label for="nimi">Kysymys</label>
                        <input type="text" th:field="*{kysymys}" />
                        <input type="hidden" th:object="${vaihtoehtolista}" th:field="*{vaihtoehdott}" id="vaihtoehdott"/>
                        <div class="col" id="vaihtoehdot">
                        </div>
                        
                        <div id="hiddenDiv" style="display:none">
                       		<div>
                             	<input type="text" value="" name="vaihtoehto" id="vaihtoehto" onchange="lisaavaihtoehto()"></input>
                             	<input type="button" value="Lisää vaihtoehtoihin" onClick="uusivaihtoehto()" class="btn btn-success"></input>
                            </div>
                            <div>
                            	 <label for="vaihtoehdotlista">Vaihtoehdot:</label>
                            	 <input type="textarea" value="" id="vaihtoehdotlista" readonly="readonly"></input>
                        	</div>
                        </div>
                        
                        <input type="hidden" th:field="*{kysely}" />
                    </div>
                    
                    <div class="col">
                        <input type="submit" value="Tallenna" class="btn btn-success"></input>
                        <a th:href="@{/editkysely/{kyselyid}(kyselyid=${kysymyss.kysely.kyselyid})}" class="btn btn-warning" id="buttons">Takaisin</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function show(selected) {
            
            if (selected == "radio") {
                hiddenDiv.style.display='inline-block';
            } 
                else{
                hiddenDiv.style.display='none';
            }
        }
    </script>
    <script>
    	var y = [];
        function lisaavaihtoehto() {
            var x = document.getElementById("vaihtoehto").value;
	        y.push(x);
	        document.getElementById("vaihtoehdott").value = y;
        }
    </script>
    <script>
		function uusivaihtoehto() {
			document.getElementById("vaihtoehto").value = "";
		}
	</script>
	<script>
		var z = [];
		function lisaavaihtoehto() {
			var y = " ";
			y=y+document.getElementById("vaihtoehto").value;
			z.push(y);
	        document.getElementById("vaihtoehdotlista").value = z;
		}
	</script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>