<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
   		<meta charset="utf-8" />
    		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
   		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Kirjaudu sisään</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" href="/css/signin.css" th:href="@{/css/signin.css}"/>
    </head>
    <body>

  	  
<div class="container">

        <form th:action="@{/login}" method="post" id="login-form" class="form-signin">
        <div class="alert alert-danger" th:if="${param.error}">
            Väärä käyttäjätunnus tai salasana
        </div>
        <div class="alert alert-warning" th:if="${param.logout}">
            Olet kirjautunut ulos
        </div>
        <h2 class="form-signin-heading">Kirjaudu sisään</h2>
            <div><label for="inputUsername" class="sr-only">Username</label> <input type="text" name="username" class="form-control" placeholder="Käyttäjätunnus"/></div>
            <div><label for="inputPassword" class="sr-only">Password</label> <input type="password" id="inputPassword" name="password" placeholder="Salasana" class="form-control"/></div>
            <div><button class="btn btn-lg btn-success btn-block" type="submit">Kirjaudu</button></div>
            </form>
            </div>
    </body>
</html>

